.test {
  background-color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.mok-person-group {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}
.mok-person-group .ok-person-group-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
}
.mok-person-group .avatar-list {
  float: left;
}
.mok-person-group .avatar-list + .avatar-list {
  margin-left: -6px;
}
.mok-person-group .more {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #1f2329;
}
.mok-person-group .more-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e8eaed;
  border: 1px solid #fafafa;
  box-sizing: border-box;
  border-radius: 50%;
  margin-left: -6px;
  z-index: 2;
  color: #1f2329;
  font-size: 14px;
}
.mok-person-group .more-icon.is-mini {
  font-size: 12px;
}
.mok-person-group .single-user-name {
  margin-left: 6px;
}
