.test {
  background-color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 0;
}
.mok-person-group {
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  line-height: 1;
  -webkit-tap-highlight-color: transparent;
}
.mok-person-group .ok-person-group-wrap {
  display: flex;
  align-items: center;
  overflow: hidden;
  font-size: 14px;
}
.mok-person-group .avatar-list {
  float: left;
}
.mok-person-group .avatar-list + .avatar-list {
  margin-left: -11px;
}
.mok-person-group .more {
  margin-left: 4px;
  font-size: 14px;
  line-height: 20px;
  color: #1F2329;
}
