.test {
  background-color: #fff;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ok-person-detail {
  width: 318px;
  overflow: hidden;
  font-style: normal;
  cursor: default;
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.12);
  z-index: 5100;
  -webkit-tap-highlight-color: transparent;
}
.ok-person-detail .person-image {
  flex: 1;
  position: relative;
  width: 100%;
  height: 100%;
}
.head {
  height: 210px;
  z-index: 5002;
}
.headCover {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.6) 99.42%);
  opacity: 0.6;
  z-index: 5003;
}
.shadow {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 5002;
  transition: all 0.3s;
}
.person-card-name {
  margin-right: 8px;
  max-width: calc(100% - 24px);
  display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.person-card-name.isTerminated {
  max-width: calc(100% - 74px);
}
.user-name-wraper {
  position: absolute;
  bottom: 250px;
  font-size: 24px;
  font-weight: 500;
  color: #fff;
  word-break: break-word;
  white-space: normal;
  transition: bottom 0.1s ease-in-out;
  width: calc(100% - 40px);
  line-height: 24px;
  left: 20px;
  bottom: 20px;
  display: flex;
  align-items: center;
  height: 24px;
  z-index: 5003;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.terminated-text {
  font-size: 12px;
  line-height: 12px;
  font-weight: normal;
  padding: 3px;
  border-radius: 4px;
  background-color: rgba(14, 14, 14, 0.5);
  margin-left: auto;
  vertical-align: middle;
}
.gender-icon {
  width: 16px;
  height: 16px;
}
.btnIcon {
  width: 14px;
  height: 14px;
}
.ok-person-card-inner {
  position: static;
  height: 361px;
  z-index: 5020;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.card-close-icon {
  position: absolute;
  top: 16px;
  right: 16px;
  font-size: 0;
  z-index: 5008;
}
.person-detail-footer {
  height: auto;
}
.person-detail-footer .content-wraper {
  padding: 20px 14px;
  height: auto;
  font-size: 14px;
  line-height: 21px;
  display: flex;
  flex-direction: column;
  background: #fff;
  box-sizing: border-box;
}
.person-detail-footer.open {
  height: auto;
}
.item-row {
  display: flex;
  margin: 0;
}
.item-row + .item-row {
  margin-top: 12px;
}
.item-row > .item-label {
  flex-shrink: 0;
  margin-right: 6px;
  color: #8F959E;
}
.item-row .item-content {
  display: inline-block;
  color: #1F2329;
}
.item-row .dept-item {
  color: #1F2329;
  font-size: 14px;
  line-height: 21px;
}
.item-row .dept-item + .dept-item {
  margin-top: 6px;
}
.dept-box {
  position: relative;
  max-height: 42px;
  overflow: hidden;
}
.dept-box.two-lines {
  max-height: 48px;
}
.dept-box.open {
  height: auto;
  max-height: none;
}
.toggle-btn {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #4c78fc;
  width: 89px;
  text-align: right;
  background: linear-gradient(270deg, #FFFFFF 0%, #FFFFFF 37.3%, rgba(255, 255, 255, 0.730466) 64.6%, rgba(255, 255, 255, 0.0001) 100%);
}
p {
  margin: 0;
  padding: 0;
}
